
<% if story.published? %>
  <%= link_to "stories/#{story.id}" do %>
    <div class="rounded-lg shadow hover:shadow-lg">

      <div class="relative">
        <%= image_tag "#{story.photo}", class: "rounded-t-lg" %>
        <div class="absolute bottom-0 px-4 py-2 bg-gray-800 opacity-70">
          <h3 class="text-xl text-pink font-bold">Let's Read!</h3>
        </div>
      </div>

      <h5 class="p-4 font-bold text-xl">
        <%= story.name %>
      </h5>
      <p class="pr-4 pl-4">
        <%= story.summary %>
      </p>

      <div class="p-4 font-bold text-sm flex justify-between">
        <span class="mt-2">5+ years of age</span>
      </div>

    </div>
  <% end %>
<% else %>
  <%= link_to "#" do %>
    <div class="rounded-lg shadow hover:shadow-lg">

      <div class="relative">
        <%= image_tag "#{story.photo}", class: "rounded-t-lg brightness-75" %>
        <div class="absolute bottom-0 px-4 py-2 opacity-70">
          <h3 class="text-xl text-teal font-bold">Coming Soon!</h3>
        </div>
      </div>



      <h5 class="p-4 font-bold text-xl">
        <%= story.name %>
      </h5>
      <p class="pr-4 pl-4">
        <%= story.summary %>
      </p>

      <div class="p-4 font-bold text-sm flex justify-between">
        <span class="mt-2">5+ years of age</span>
      </div>

    </div>
  <% end %>
<% end %>

