<div class="mt-2 mb-20 ">
  <div class="relative m-auto">
    <div class="absolute xl:container m-auto">
      <h3 class="text-[#ACACAC]">Learn languages through</h3>
      <%= image_tag "context-logo-blue.png", class:"w-48" %>
      <h3 class="text-black">For children aged 5 to 7 who are learning to read and speak two languages</h3>
      <%= link_to "Start Reading", stories_path, class: "button w-auto" %>
    </div>
  </div>
  <div class="flex">
    <div class="w-6/12 bg-light-blue p-6 mr-2 rounded-3xl"></div>
    <div class="w-6/12 h-[450px] bg-center	 bg-cover rounded-xl bg-hero"></div>
  </div>
  <%# <%= image_tag "hero.jpeg", class:"basis-3/5 h-60 bg-cover " %>
</div>

<div class="how-it-works m-auto xl:container mb-20">
  <h1>How it works</h1>
  <div class='flex justify-center'>
    <div class='basis-1/3 m-6'>
      <%= image_tag "orange-blob.png", class:'w-50 ' %>
      <h2 class="-mt-32">1. Browse the library of childrens books</h2>
    </div>
    <div class='basis-1/3 m-6'>
      <%= image_tag "blue-blob.png", class:'w-50 ' %>
      <h2 class="-mt-32">2. Select the language and difficulty</h2>
    </div>
    <div class='basis-1/3 m-6'>
      <%= image_tag "pink-blob.png", class:'w-50 ' %>
      <h2 class="-mt-32">3. Read along and click on sentences to see the translation</h2>
    </div>
  </div>
</div>

<div class="flex m-auto xl:container ">
  <div class="flex">
    <%= image_tag "child-reading.png" %>
    <div class="flex-col">
      <h1 class="w-10/12 -ml-60 my-8">Studies show that Context Clues are an effective Vocabulary Learning Technique</h1>
      <h3 class="w-10/12 -ml-40 my-8"><p class='text-blue'>What are Context Clues?<p>Context clues are hints found within a sentence, paragraph, or passage that a reader can use to understand the meanings of new or unfamiliar words.</h3>
      <div class="w-4/5 newsletter bg-teal rounded-3xl px-10 py-6 -ml-20 my-8">
        <p class="mb-2">Sign up to our newsletter for more about the science behind learning languages, recently added books and feature updates</p>
        <form class="p-1 bg-white flex justify-end">
          <input type="email" id="email" name="email" class="w-full" >
          <input type="submit" value="Sign up" class="button">
        </form>
      </div>
    </div>
  </div>
</div>
