<%= turbo_frame_tag @story do %>
  <%# <%= @story.sentences.first(5) %>

  <div data-controller="sentence-loading">
    <%= render "second", story: @story %>
    <div class="markers_container flex justify-between mt-6">
      <p><strong>Correct answers:</strong> <span id="counter">0</span><span id="total">/0</span></p>
      <div class="relative" data-controller="check" id="marker" hidden>
              <div class="pop-up shadow-lg border-blue rounded-lg">
                <div><p class='text-[28px] pt-2 pl-1 '>Did you translate it correctly?</p></div>
                <div>
                  <button id="correct" data-action="click->check#correct"><%= image_tag "published.png", class:'w-10'%></button>
                  <button id="wrong" data-action="click->check#wrong"><%= image_tag "unpublished.png", class:'w-10' %></button>
                </div>
              </div>
            </div>
    </div>
  </div>

  <div class='mt-12 flex justify-end'>
    <%= link_to "Read Again", story_path(@story), class:"button bg-teal mr-2" %>
  </div>
<% end %>


