<div class="flex justify-center">
  <div class="flex flex-col border-2 border-blue mt-2 md:flex-row md:max-w-2xl rounded-lg bg-white shadow-lg">
    <%= image_tag "#{@story.photo}", class: "w-full md:h-auto object-cover md:w-48 rounded-t-lg md:rounded-none md:rounded-l-lg" %>
    <div class="p-6 flex flex-col justify-start">
      <h5 class="text-gray-900 text-xl font-medium mb-2"><%= "#{@story.name}" %></h5>
      <p class="text-gray-700 text-base mb-4">
        <%= render "story", story: @story %>
      </p>
    <div class="markers_container flex justify-center ">
      <div data-controller="check" id="marker" hidden>
        <button id="correct" data-action="click->check#correct"><%= image_tag "published.png", class:'w-5'%></button>
        <button id="wrong" data-action="click->check#wrong"><%= image_tag "unpublished.png", class:'w-5' %></button>
      </div>
    </div>
      <div class="flex">
        <p>Correct answers: <span id="counter">0</span>/19</p>
      </div>
    </div>
  </div>
</div>
