<!DOCTYPE html>
<html>
  <head>
    <title>Context</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <%# <link rel="stylesheet" href="https://unpkg.com/flowbite@1.5.3/dist/flowbite.min.css" /> %>
  </head>

  <body class="min-h-screen justify-between flex-col">
    <%= render "stories/shared/navbar", class: "shrink-0" %>
    <div class="main flex-1">

      <%= yield %>
    </div>
    <%= render "stories/shared/footer", class: "shrink-0" %>
    <script src="https://unpkg.com/flowbite@1.5.3/dist/flowbite.js"></script>
  </body>
</html>
